{% extends 'index/base.html' %}

<body>
    {% block contenido %}
    <h1 class="iniciosesion">Iniciar Sesión</h1></br>

    <div class="boxsesion">

        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Usuario</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            <button type="submit" class="btn btn-primary">Cancelar</button>
        </form>

    </div>
    {% endblock %}

</body>

</html>